body {
  text-align: center;
  margin-top: 50px;
  background-color: skyblue;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: darkcyan;
}

form {
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 600px;
  background-color: blueviolet;
  padding: 15px;
  gap: 5px;
  display: flex;
  flex-direction: column;

}
form h3 {
  text-align: center;
}
form label {
  font-weight: 500;
  text-transform: capitalize;
  text-align: end;
}
form input {
  background-color: aqua;
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid darkcyan;
  padding: 15px;
}
form input::placeholder {
  font-size: 14px;
}
form input[type="submit"] {
  height: 32px;
  margin: 10px auto 0;
  padding: 0px 0px;
  background-color: #8aa;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 600px) {
  body {
    height: 100svh;
  }
  form {
    max-width: 100%;
    height: 100%;
  }

  form label {
    text-align: right;
    margin-right: 15px;

  }
}